HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Tayviscon Frontend ###
/tayviscon-frontend/public/
/tayviscon-frontend/node_modules/
/tayviscon-frontend/node/
/tayviscon-frontend/.env
/tayviscon-frontend/.cache/
/tayviscon-frontend/package-lock.json
/tayviscon-frontend/yarn-error.log
/tayviscon-frontend/analysis
